<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Docker Deployer</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type='text/javascript' src='/public/javascript/check.js'></script> 

</head>
<body>
	<form method="post" action="/upload" name="docker_details_form" enctype="multipart/form-data">
		<input type="file" name="code" class ="fileUpload"><br />
		<!-- <span class="btn btn-default btn-file"> -->
		<input type="submit" name="submit" value="Submit">
		<!-- </span> -->
	</form>
	
</body>
</html>